<div class="max-w-5xl mx-auto px-4 py-16">
    <button
    (click)="goBack()"
    class="mb-8 text-green-600 font-semibold hover:underline"
  >
    ← Back to Events
  </button>

  <!-- Hero Image -->
  <div *ngIf="event?.image;"
     class="rounded-xl overflow-hidden shadow-lg mb-10">
  <img
    [src]="event?.image"
    alt="Event Image"
    class="w-full h-[28rem] object-cover"
  />
</div>

  <!-- Category -->
  <span
    class="inline-block text-sm font-semibold px-4 py-1 rounded-full mb-4 bg-green-100 text-green-700"
  >
    {{ event?.category }}
  </span>

  <!-- Title -->
  <h1 class="text-4xl font-bold text-gray-800 mb-4">
    {{ event?.title }}
  </h1>

  <!-- Meta Info -->
  <p class="text-gray-500 mb-6">
    📍 {{ event?.location }} <br />
    🗓 {{ event?.date | date:'fullDate' }}
  </p>

  <!-- Description -->
  <div class="text-gray-700 leading-relaxed mb-10">
    {{ event?.description }}
  </div>

   <div [innerHTML]="event?.locationIframe" class="mb-10"></div>

  <!-- Add to Google Calendar Button -->
  <a
    [href]="googleCalendarLink"
    target="_blank"
    class="inline-block px-6 py-3 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 transition shadow-md"
  >
    Add to Google Calendar →
  </a>
</div>