<app-blog-post
  title="Why Contributions Matter"
  image="contribute.jpg"
  author="Alpha Delta Phi Alumni Association"
  date="March 2025"
  content="
    <p>
      <strong></strong> 
      Our chapter isn't just about fostering growth for those pursuing their academic goals; 
      it's a continuous evolution throughout life to build and strengthen connections in the chapter and Greek life as a whole. 
      Part of what helps accelerate this process is contributions.
    </p>

    <p>
      Our chapter grows stronger when members contribute ideas, time, and effort.
      Contributions don’t need to be huge. A small improvement, thoughtful feedback, a small donation,
      or sharing knowledge can create ripple effects that benefit the entire community.
    </p>

    <p>
      Growth happens when we build together. If you’re thinking about contributing,
      you’re already part of the journey.
    </p>
    <div class='mt-6'>
    <a 
      href='https://us.commitchange.com/md/annapolis/1832foundation'
      target='_blank'
      class='inline-block px-6 py-3 bg-green-600 text-white font-semibold rounded-md shadow-md hover:bg-green-700 transition-all duration-200'
    >
      Contribute Today!
    </a>
  </div>
  "
></app-blog-post>